.menu-button {
    display: flex;
    outline: none;
    border: none;
    padding: 10px 15px;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    font-size: 14pt;
}

.menu-button:hover {
    transition: .2s ease;
    background-color: #3e4173;
}